
@import "../../node_modules/bootstrap//scss//bootstrap.scss";
@import '../../node_modules/bootstrap';
@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

body {
  background-color: #f3f3f3;
  font-size: 0.875em;
  overflow-x: hidden !important;
  font-family: 'Mada', sans-serif;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

* a {
  font-size: 14px;
  &:focus, &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 14px;
}

.card {
  border-radius: 2px;
  border-top: 4px solid rgba(0, 115, 170, 0.5);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-bottom: 30px;
  .card-footer {
    background-color: #fff;
  }
  .card-header {
    background-color: transparent;
    padding: 15px 20px;
    .card-header-left {
      display: inline-block;
    }
    .card-header-right {
      border-radius: 0 0 0 5px;
      right: 0;
      top: 0;
      background: #f6f7f7;
      display: inline-block;
      float: right;
      padding: 7px 0;
      position: absolute;
      i {
        margin: 0 20px;
        cursor: pointer;
      }
    }
    span {
      color: #66aee9;
      display: block;
      font-size: 13px;
      margin-top: 5px;
    }
  }
  h5 {
    margin-bottom: 0;
    color: #111010;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 10px;
  }
  .card-body {
    table tr {
      padding-bottom: 20px;
    }
    .sub-title {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    code {
      background-color: #eee;
    }
    .dropdown-menu {
      top: 38px;
    }
    p {
      line-height: 25px;
    }
    a.dropdown-item {
      margin-bottom: 0;
      font-size: 14px;
      transition: 0.25s;
      &:active, .active {
        background-color: #0073aa;
      }
    }
    &.remove-label i {
      margin: 0;
      padding: 0;
    }
    &.button-list span.badge {
      margin-left: 5px;
    }
    .dropdown-menu {
      background-color: #fff;
      padding: 0;
      .dropdown-divider {
        background-color: #ddd;
        margin: 3px 0;
      }
      > {
        a {
          padding: 10px 16px;
          line-height: 1.429;
        }
        li {
          > a {
            &:focus, &:hover {
              background-color: rgba(202, 206, 209, 0.5);
            }
          }
          &:first-child > a:first-child {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
          }
        }
      }
    }
    .badge-box {
      border: 1px solid #ccc;
      padding: 10px;
      margin: 12px 0;
    }
  }
  .inner-card-body {
    border: 1px solid #ddd;
  }
}